img{
    border-radius: 40%;
    width: 30%;
    height: 30%;
    display: inline;
    float:left;
    caption-side: right;
    margin: 2px 25px;
}
.bio{
    margin: 5px 5px;
    display: inline;
    position: relative;
    font-size: 130%;
}
